bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.msi
*.appx
*.appxbundle
*.msix
*.msixbundle
*.dbmdl
*.log
*.vsix
*.nupkg
*.map
*.ps1

*.user
*.userosscache
*.suo
*.sln.docstates

TestResults/
*.Tests.dll
*.Tests.pdb

.vscode/
.vs/
.vscode-test/
.idea/

.publish/
out/

*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

packages/
**/node_modules/
npm-debug.log
yarn.lock
package-lock.json

*.mdf
*.ldf
*.ndf

Migrations/

appsettings*.json
secrets.json


Thumbs.db
ehthumbs.db
.DS_Store
*.swp
*~
